version: '3.9'
services:
  db:
    container_name: nest_starter_database
    image: postgres:14.5-alpine
    ports:
      - '5432:5432'
    environment:
      - POSTGRES_USER=postgres
      - POSTGRES_PASSWORD=secret
      - POSTGRES_DB=nest_starter
  cache:
    container_name: nest_starter_redis
    image: redis:alpine
    command: redis-server
    ports:
      - '6379:6379'
    environment:
      - ALLOW_EMPTY_PASSWORD=yes
    depends_on:
      - db
  api:
    container_name: nest_starter
    build:
      dockerfile: Dockerfile
      context: .
    environment:
      APP_PORT: 3000
      CONN_TYPE: postgres
      CONN_HOST: localhost
      CONN_PORT: 5432
      CONN_USERNAME: postgres
      CONN_PASSWORD: secret
      CONN_DATABASE: nest_starter
      CONN_LOGGING: 'FALSE'
      REDIS_HOST: localhost
      REDIS_PORT: 6379
      REDIS_PASSWORD:
    ports:
      - '3000:3000'
    depends_on:
      - cache