version: '3.9'
services:
  db:
    container_name: nest_starter_database
    image: postgres:14.5-alpine
    ports:
      - '5432:5432'
    environment:
      - POSTGRES_USER=postgres
      - POSTGRES_PASSWORD=secret
      - POSTGRES_DB=nest_starter
  cache:
    container_name: nest_starter_redis
    image: redis:alpine
    command: redis-server
    ports:
      - '6379:6379'
    environment:
      - ALLOW_EMPTY_PASSWORD=yes
    depends_on:
      - db